<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
	   <dict>
		   <key>assets</key>
		   <array>
			   <dict>
				   <key>kind</key>
				   <string>software-package</string>
				   <key>url</key>
				   <string>https://qdhw6.leaderhero.com/new2/20221216/WhatsApppandahelpvip_v22.23.74_os12.0__221216135951_pandahelp.vip.ipa</string>
			   </dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://im5.pandahelp.vip/adverting/201712/f1d2b4ae-e.jpg</string>
				</dict>
			   <dict>
				   <key>kind</key>
				   <string>display-image</string>
				   <key>needs-shine</key>
				   <true/>
				   <key>url</key>
				   <string>http://im5.pandahelp.vip/adverting/201712/f1d2b4ae-e.jpg</string>
			   </dict>
		   </array><key>metadata</key>
		   <dict>
			   <key>bundle-identifier</key>
			   <string>com.fouadraheb.watusi</string>
			   <key>bundle-version</key>
			   <string>22.23.74</string>
			   <key>kind</key>
			   <string>software</string>
			   <key>subtitle</key>
			   <string>同步网络</string>
			   <key>title</key>
			   <string>WhatsApp Watusi Duplicate(After clicking install, please return to home screen to check the progress)(22.23.74)</string>
		   </dict>
	   </dict>
   </array>
</dict>
</plist>